header{
    background #
    padding:20 px 0;
}
   caixa{
      position:relative;
      widt:940 px; 
      marg:o auto
   }
   nav{
    position: absolute;
    top:110 px;
    rigth:0;
   }

   nav li {
      display:inlive;
      margin: 000 15px;
   }
   nav a{
      text-transform: uppercase;
      color: #0000
      font-weigth: bold;
      font-size 22 px; 
      text-decoration:none;
   }

   Nav A:hover{
      color: hsl(258,96%,51%);
      text-decoration:Underline;
   }


